---
import Layout from "@layouts/Layout.astro";
import LoginSection from "@components/login/LoginSection.astro";

const from = Astro.url.searchParams.get("from")!;
---

<Layout>
  <main>
    <LoginSection state={from} />
  </main>
</Layout>
